/*elemnt style across all pages*/
    /*all elements will have border box to properly soace out*/
   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
        /*decide on font and if needed link it through google fonts !!*/
    body {
      font-family: Arial, sans-serif;
    }
/*navigation*/
    /*link style. has no underline, and cursor will change into pointer for greater accesability*/
    nav a{
        text-decoration: none;
        padding: 10px;
        color: #343436;
        cursor: pointer;
    }
    /*transition of colour when hovered*/
    nav a :hover{
        transition: color;
        transition-delay: 10ms;
        color: #ffffff;
    }
    /*nav bar apearance befor scrolling over*/
    .navbar {
        /*ensures that it stays in the same space after scrolled*/
        position: fixed;
        top: 0;
        width: 100%;
        /*transparent backround colour initialy*/
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        /*transition that will occure*/
        transition: background-color 0.3s, box-shadow 0.3s;
        /*z index ensure that it is on top of all other elements always*/
        z-index: 1000;
    }
    /*navbar after being scrolled changes colour and gains a box-shadow and additionaly styles it*/
    .navbar-scrolled {
      background-color: rgba(226, 235, 232, 0.9);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }
    /*size of ghibli icon*/
    .navbar-brand img {
      width: 90px;
      height: 40px;
    }
    /*size of menu icon*/
    .menu-icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    /*nav container that wraps around navigation of links*/
  .nav-wrapper {
    /*position does not change no matter any elemnts or actions*/
        position: absolute;
        margin: 2%;
        right: 80px; 
        /*half transparent backround colour*/
        background: rgba(226, 235, 232, 0.6);
        border-radius: 8px;
        /*adds shadows effect around it*/
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        /*overflow, hidden eleminates scroll bars, since they won't be needed in this navbar*/
        overflow: hidden;
        display: none;
  }
    /*nav container changes to block and using java the rest of links will apear in the space to it's left and displayed block*/
    .nav-wrapper.open {
        display: block;
    }
    /*this is styling of nav list ensuring they are located in a row*/
    .nav {
      list-style: none;
      padding: 10px;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

  /*beggining section styling*/
    /*backround image styling*/
    #intro {
      background-image: url(images-index/studio-ghibli-howl-s-garden-plal8rt6cs9zike9.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      /*will move when scrolled*/
      position: relative;
    }
    /*adds a layer of darker semi transparent div to make other elements pop and easier to read*/
    #intro::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      /*ensures it's on top of backround image*/
      z-index: 1;
    }
    /*positioning of heading in the middle of the page*/
    .intro-content {
      position: relative;
      /*ensures it's on top of darkening div*/
      z-index: 2;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    /*look this up- typography!!*/
    .display-1 {
      font-size: 4rem;
      letter-spacing: 10px;
    }

    main .container {
      padding: 5rem 2rem;
      max-width: 1200px;
      margin: 0 auto;
    }

    @media (min-width: 1600px) {
      .display-1 {
        font-size: 8rem;
        letter-spacing: 40px;
      }
    }

  /*footer*/
  footer{
    background-color: #E3EDB0;
    width: 100%;
    height: 550px;
  }

  footer div img{
    width: 80px;
    height: 80px;
    padding: 20%;
  }

  #icons{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  footer legend{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: space-around;
  }

  footer legend a{
    text-decoration: none;
    color: #606537;
    font-size: 20px;
  }

  footer legend li :hover{
    color: #000000;
    font-size: 20px;
  }

  footer legend h4{
    padding-bottom: 8% ;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    color: #000000; 
    font-size: 2rem; 
  }
  #footer-copyright{
    padding: 2%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

/*index/about-page*/
    #blue-section{
      background-image: url(https://christandpopculture.com/wp-content/uploads/2014/08/20140816.ghibliA-1024x687.jpg);
      width: 100%;
      height: 900px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    /*elements on image container to display flex*/
    #blue-section-content {
      display: flex;
      align-content: center;
      justify-content: left;
      height: 900px;
      width: 100%;
    }

    #blue-section-content div{
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
      position: relative;
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      margin: 8%;
    }

    #blue-section-content div h2{
      color: #AECAE0;
      padding: 5%;
      font-size: 3rem;
    }

    #blue-section-content div p{
      color: #ffffff;
      padding: 5%;
      font-size: 20px
    }

    #about-ghibli-blue{
      background-color: #E2EBE8;
      width: 100%;
      height: 500px;
      display: flex;
      align-content: center;
    }

    #about-img-ghibli{
      border-radius: 1000px;
      width: 400px;
      height: 400px;
      margin: 10%;
      margin-left: 30%;
      display: flex;
    }

    #text-div-about-ghibli-blue{
      flex-direction: column;
      display: flex ;
      align-content: center;
      width: 80%;
      margin-left:30%;
      margin-top: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      text-align: right;
      max-width: 500px;
    }

    #text-div-about-ghibli-blue h2{
      color: #5E84C5;
      padding: 5%;
      font-size: 3rem;
    }

    #text-div-about-ghibli-blue p{
      color: #5E84C5;
      padding: 5%;
      font-size: 20px
    }
    #about-white-section {
      display: grid;
      gap: 2% 2%;
      height: 700px;
      width: 100%;
      background-color: #ffffff;
    }

    #red-nav-div{
      padding: 5%;
    }


/*events page*/
  #events-ghibli-green{
    background-color: #B8C269;
    width: 100%;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  #text-div-events-ghibli-green{
    background-color: #B8C269;
    margin: 10%;
  }

  #text-div-events-ghibli-green :hover{
    background-color: #6f7930;
    transition-duration: 1s;
  }

  #events-img-ghibli-green{
    width: 400px;
    height: 500px;
    margin-left: 30%;
    margin-right: 10%;
    display: flex;
  }

  #text-div-events-ghibli-green{
    flex-direction: column;
    display: flex ;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin-left:20%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: right;
    max-width: 550px;
  }

  #text-div-events-ghibli-green h2{
    color: #E3EDB0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;  
    font-size: 4rem;
  }

  #text-div-events-ghibli-green p{
    color: #ffffff;
    padding: 2%;
    font-size: 1rem;
  }

  #events-ghibli-white{
    width: 100%;
    height: fit-content;
    margin: 5%;
  }
  /*green*/
  #text-div-about-ghibli-green{
    flex-direction: column;
    display: flex ;
    align-content: center;
    width: 100%;
    margin-left:5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 500px;
  }

  #text-div-about-ghibli-green h2{
    color: #B8C269;
    padding: 5%;
    font-size: 3rem;
  }

  #text-div-about-ghibli-green p{
    color: #606537;
    padding: 5%;
    font-size: 20px
  }
  /*blue*/
    #text-div-about-ghibli-blue{
    flex-direction: column;
    display: flex ;
    align-content: center;
    width: 100%;
    margin-left:5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 500px;
  }

  #text-div-about-ghibli-blue h2{
    color: #5E84C5;
    padding: 5%;
    font-size: 3rem;
  }

  #text-div-about-ghibli-blue p{
    color: #37517e;
    padding: 5%;
    font-size: 20px
  }
  /*red*/
    #text-div-about-ghibli-red{
    flex-direction: column;
    display: flex ;
    align-content: center;
    width: 100%;
    margin-left:5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 500px;
  }

  #text-div-about-ghibli-red h2{
    color: #BD351F;
    padding: 5%;
    font-size: 3rem;
  }

  #text-div-about-ghibli-red p{
    color: #5A0E00;
    padding: 5%;
    font-size: 20px
  }

  #ghibli-events-calendar-red{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCB9B5;
    padding: 5%;
  }

  #ghibli-events-calendar-red iframe{
    border-radius: 20px;
  }
/*!! are to check or elaborate later*/