/*elemnt style across all pages*/
    /*all elements will have border box to properly space out*/
   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      /*sans serif font as it's more accessible and easier to read. As well as is less distracting from visuals*/
      font-family: Arial, sans-serif;
      word-spacing: normal;
      letter-spacing: normal;
    }
    /*styling for paragraph*/
    body p{
      /*makes it easier to read*/
      line-height: 120%;
    }
/*navigation*/
    /*link style. has no underline, and cursor will change into pointer for greater accesability*/
    nav a{
        text-decoration: none;
        padding: 10px;
        color: #343436;
        cursor: pointer;
    }
    /*transition of colour when hovered*/
    nav a :hover{
        transition: color;
        transition-delay: 10ms;
        color: #2F4D78;
    }
    /*nav bar apearance befor scrolling over*/
    .navbar {
        /*ensures that it stays in the same space after scrolled*/
        position: fixed;
        top: 0;
        width: 100%;
        /*transparent backround colour initialy*/
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        /*transition that will occure*/
        transition: background-color 0.3s, box-shadow 0.3s;
        /*z index ensure that it is on top of all other elements always*/
        z-index: 1000;
    }
    /*navbar after being scrolled changes colour and gains a box-shadow and additionaly styles it*/
    .navbar-scrolled {
      background-color: rgba(226, 235, 232, 0.9);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }
    /*size of ghibli icon*/
    .navbar-brand img {
      width: 90px;
      height: 40px;
    }
    /*size of menu icon*/
    .menu-icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    /*nav container that wraps around navigation of links*/
  .nav-wrapper {
    /*position does not change no matter any elemnts or actions*/
        position: absolute;
        margin: 2%;
        right: 80px; 
        /*half transparent backround colour*/
        background: rgba(226, 235, 232, 0.6);
        border-radius: 8px;
        /*adds shadows effect around it*/
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        /*overflow, hidden eleminates scroll bars, since they won't be needed in this navbar*/
        overflow: hidden;
        display: none;
  }
    /*nav container changes to block and using java the rest of links will apear in the space to it's left and displayed block*/
    .nav-wrapper.open {
        display: block;
    }
    /*this is styling of nav list ensuring they are located in a row*/
    .nav {
      list-style: none;
      padding: 10px;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

  /*beggining section styling*/
    /*backround image styling*/
    #intro {
      background-image: url(images-index/studio-ghibli-howl-s-garden-plal8rt6cs9zike9.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      /*will move when scrolled*/
      position: relative;
    }
    /*adds a layer of darker semi transparent div to make other elements pop and easier to read*/
    #intro::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      /*ensures it's on top of backround image*/
      z-index: 1;
    }
    /*positioning of heading in the middle of the page*/
    .intro-content {
      position: relative;
      /*ensures it's on top of darkening div*/
      z-index: 2;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    /*additional typography*/
    .display-1 {
      font-size: 4rem;
      letter-spacing: 10px;
    }

    main .container {
      padding: 5rem 2rem;
      max-width: 1200px;
      margin: 0 auto;
    }

    @media (min-width: 1600px) {
      .display-1 {
        font-size: 8rem;
        letter-spacing: 40px;
      }
    }

  /*footer*/
  footer{
    background-color: #E3EDB0;
    width: 100%;
    height: 550px;
  }
/*footer icon size*/
  footer div img{
    width: 80px;
    height: 80px;
    padding: 20%;
  }
/*icons styly and positioning in the center*/
  #icons{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
/*appearance of container with links in the footer*/
  footer legend{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: space-around;
  }
/*styling links and removing underline*/
  footer legend a{
    text-decoration: none;
    color: #4A4E29;
    /*usage of px for font sizing*/ 
    font-size: 20px;
  }
/*interactivity of color change on hover command*/
  footer legend li :hover{
    color: #000000;
    font-size: 20px;
  }
/*heading styling*/
  footer legend h4{
    padding-bottom: 8% ;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    color: #000000;
    /*usage of rem for font sizing*/ 
    font-size: 2rem; 
  }
/*styling of section bellow about copyrighting*/
  #footer-copyright{
    padding: 2%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

/*index/about-page*/
  /*section with backround image, that doesn't repeat and covers the whole area*/
    #blue-section{
      background-image: url(https://christandpopculture.com/wp-content/uploads/2014/08/20140816.ghibliA-1024x687.jpg);
      width: 100%;
      height: 900px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    /*elements on image container to display flex*/
    #blue-section-content {
      display: flex;
      align-content: center;
      justify-content: left;
      height: 900px;
      width: 100%;
    }
    /*darkening element by using div with half opeque backround colour*/
    #blue-section-content div{
      background-color: rgba(0, 0, 0, 0.6);
      /*to ensure it's on the top of backround-image*/
      z-index: 2;
      position: relative;
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      margin: 8%;
    }
    /*styling for heading*/
    #blue-section-content div h2{
      color: #AECAE0;
      padding: 5%;
      font-size: 3rem;
    }
    /*styling for paragraph*/
    #blue-section-content div p{
      color: #ffffff;
      padding: 5%;
      font-size: 20px
    }
/*section sizing, spacing and colour styling*/
    #about-ghibli-blue{
      background-color: #E2EBE8;
      width: 100%;
      height: 500px;
      display: flex;
      align-content: center;
    }

    #about-img-ghibli{
      border-radius: 1000px;
      width: 400px;
      height: 400px;
      margin: 10%;
      margin-left: 30%;
      display: flex;
    }

    #text-div-about-ghibli-blue-index{
      flex-direction: column;
      display: flex ;
      align-content: center;
      width: 80%;
      margin-left:30%;
      margin-top: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      text-align: right;
      max-width: 500px;
    }
    /*styling for heading*/
    #text-div-about-ghibli-blue-index h2{
      color: #2F4D78;
      padding: 5%;
      font-size: 3rem;
    }
    /*styling for paragraph*/
    #text-div-about-ghibli-blue-index p{
      color: #2F4D78;
      padding: 5%;
      font-size: 20px
    }
    /*section sizing, spacing and colour styling*/
    #about-white-section {
      display: grid;
      gap: 2% 2%;
      height: 700px;
      width: 100%;
      background-color: #ffffff;
    }

    #red-nav-div{
      padding: 5%;
    }


/*events page*/
  #events-ghibli-green{
    background-color: #B8C269;
    width: 100%;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
    /*section's text spacing and colour styling*/
  #text-div-events-ghibli-green{
    background-color: #B8C269;
    margin: 10%;
  }
/*interactivity of backround colour change that includes 1s long transition on hover command*/
  #text-div-events-ghibli-green :hover{
    background-color: #6f7930;
    transition-duration: 1s;
  }
    /*section sizing, spacing and colour styling*/
  #events-img-ghibli-green{
    width: 400px;
    height: 500px;
    margin-left: 30%;
    margin-right: 10%;
    display: flex;
  }
    /*section's text spacing and colour styling*/
  #text-div-events-ghibli-green{
    flex-direction: column;
    display: flex ;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin-left:20%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: right;
    max-width: 550px;
  }
      /*styling for heading + additional padding*/
  #text-div-events-ghibli-green h2{
    color: #E3EDB0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;  
    font-size: 4rem;
  }
    /*styling for paragraph*/
  #text-div-events-ghibli-green p{
    color: #ffffff;
    padding: 2%;
    font-size: 1rem;
  }
    /*section sizing and spacing styling*/
  #events-ghibli-white{
    width: 100%;
    height: fit-content;
    margin: 5%;
  }
  /*green*/
      /*section's text spacing and colour styling*/
  #text-div-about-ghibli-green{
    flex-direction: column;
    display: flex ;
    align-content: center;
    width: 100%;
    margin-left:5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 500px;
  }
    /*styling for heading*/
  #text-div-about-ghibli-green h2{
    color: #B8C269;
    padding: 5%;
    font-size: 2rem;
  }
    /*styling for paragraph*/
  #text-div-about-ghibli-green p{
    color: #4A4E29;
    padding: 5%;
    font-size: 20px
  }
  /*blue*/
    #text-div-about-ghibli-blue{
    flex-direction: column;
    display: flex ;
    align-content: center;
    width: 100%;
    margin-left:5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 500px;
  }
    /*styling for heading*/
  #text-div-about-ghibli-blue h2{
    color: #2F4D78;
    padding: 5%;
    font-size: 2rem;
  }
    /*styling for paragraph*/
  #text-div-about-ghibli-blue p{
    color: #37517e;
    padding: 5%;
    font-size: 20px
  }
  /*red*/
    #text-div-about-ghibli-red{
    flex-direction: column;
    display: flex ;
    align-content: center;
    width: 100%;
    margin-left:5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 500px;
  }
    /*styling for heading*/
  #text-div-about-ghibli-red h2{
    color: #BD351F;
    padding: 5%;
    font-size: 2rem;
  }
    /*styling for paragraph*/
  #text-div-about-ghibli-red p{
    color: #5A0E00;
    padding: 5%;
    font-size: 20px
  }
    /*section sizing, spacing and colour styling*/
  #ghibli-events-calendar-red{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCB9B5;
    padding: 5%;
  }
/*Iframe border*/
  #ghibli-events-calendar-red iframe{
    border-radius: 20px;
  }
/*films-page*/
  /*formating of sections about films using backround size/colour/repeat width and height*/
    .red-section-films{
      width: 100%;
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.6);
    }
    /*interactivity on hover command*/

    .red-section-films :hover{
      background-color: rgba(0, 0, 0, 0.2);
    }
  /*formating of half sections that each take 50% of the space using backround size/colour/repeat width and height*/
      .red-section-films-half{
      width: 50%;
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
    }
/*interactivity on hover command*/
    .red-section-films-half :hover{
      background-color: rgba(0, 0, 0, 0.2);
    }
    /*elements on image container to display flex*/
    .red-section-content-left {
      display: flex;
      align-content: center;
      justify-content: left;
      height: 500px;
      width: 100%;
    }
    /*elements on image container to display flex*/
    .red-section-content-right {
      display: flex;
      align-content: center;
      justify-content: right;
      height: 500px;
      width: 100%;
    }
    /*div with darkining effect style*/
    .red-section-content-left div{
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 3;
      position: relative;
      width: 500px;
      height: 300px;
      display: flex;
      flex-direction: column;
      margin: 8%;
    }
    
    /*styling for heading*/
    .red-section-content-left div h2{
      color: #DCB9B5;
      padding: 2%;
      font-size: 3rem;
    }
    /*styling for paragraph*/
    .red-section-content-left div p{
      color: #ffffff;
      padding: 5%;
      font-size: 20px
    }
    .red-section-content-right div{
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 3;
      position: relative;
      width: 500px;
      height: 350px;
      display: flex;
      flex-direction: column;
      margin: 8%;
    }
    /*styling for heading*/
    .red-section-content-right div h2{
      color: #DCB9B5;
      padding: 2%;
      font-size: 3rem;
    }
    /*styling for paragraph*/
    .red-section-content-right div p{
      color: #ffffff;
      padding: 5%;
      font-size: 20px
    }
    /*backround images for each section of film*/
    #Spirited-Away{
      background-image: url(images-index/chihiro048.jpg);
    }
    #Howl-s-Moving-Castle{
      background-image: url(images-index/howl049.jpg);
    }
    #Kiki-s-Delivery-Service{
      background-image: url(images-index/majo024.jpg);
    }
    #My-Neighbor-Totoro{
      background-image: url(images-index/totoro025.jpg);
    }
    #Grave-of-the-Fireflies{
      background-image: url(https://i0.wp.com/www.the-pixels.com/wp-content/uploads/2016/12/grave-of-the-fireflies-colour.png?resize=1568%2C844&ssl=1);
    }
    #Princess-Mononoke{
      background-image: url(images-index/mononoke033.jpg);
    }
    #Nausicaä-of-the-Valley-of-the-Wind{
      background-image: url(images-index/nausicaa025.jpg);
    }
    #Laputa-Castle-in-the-Sky{
      background-image: url(images-index/laputa038.jpg);
    }
    #The-Wind-Rises{
      background-image: url(images-index/kazetachinu043.jpg);
    }
    #Porco-Rosso{
      background-image: url(images-index/porco034.jpg);
    }
    #Whisper-of-the-Heart{
      background-image: url(images-index/mimi034.jpg);
    }
    #Ponyo{
      background-image: url(images-index/ponyo049.jpg);
    }
    #When-Marnie-Was-There{
      background-image: url(images-index/marnie050.jpg);
    }
    #The-Tale-of-the-Princess-Kaguya{
      background-image: url(images-index/kaguyahime038.jpg);
    }
    #The-Secret-World-of-Arrietty{
      background-image: url(images-index/karigurashi032.jpg);
    }
    #The-Boy-and-the-Heron{
      background-image: url(images-index/kimitachi031.jpg);
    }
    #The-Cat-Returns{
      background-image: url(images-index/baron047.jpg);
    }
    #From-Up-on-Poppy-Hill{
      background-image: url(images-index/kokurikozaka050.jpg);
    }
    #Only-Yesterday{
      background-image: url(images-index/omoide016.jpg);
    }
    #Pom-Poko{
      background-image: url(images-index/tanuki026.jpg);
    }
    #Ocean-Waves{
      background-image: url(images-index/umi031.jpg);
    }
    #On-Your-Mark{
      background-image: url(images-index/onyourmark005.jpg);
    }
    #My-Neighbors-the-Yamadas{
      background-image: url(images-index/yamada050.jpg);
    }
    #Tales-from-Earthsea{
      background-image: url(images-index/ged048.jpg);  
    }
    #Red-Turtle{
      background-image: url(images-index/redturtle037.jpg);  
    }
    #Earwig-and-the-Witch{
      background-image: url(https://www.ghibli.jp/gallery/aya046.jpg);  
    }
    #the-GHIBLIES-episode-2{
      background-image: url(images-index/ghiblies038.jpg);  
    }

/*awards page*/
    /*section sizing, spacing and colour styling*/
    #award-ghibli-red{
      background-color: #DCB9B5;
      width: 100%;
      height: 500px;
      display: flex;
      align-content: center;
    }
    /*img styling with border radius, height, width, margin, and displaying content flex*/
    #award-img-ghibli{
      border-radius: 1000px;
      width: 400px;
      height: 400px;
      margin: 10%;
      margin-left: 30%;
      display: flex;
    }
    /*sections text styling and formating, and spacing*/
    #text-div-award-ghibli-red{
      flex-direction: column;
      display: flex ;
      align-content: center;
      width: 80%;
      margin-left:30%;
      margin-top: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      text-align: right;
      max-width: 500px;
    }
    /*styling for heading*/
    #text-div-award-ghibli-red h2{
      color: #BD351F;
      padding: 5%;
      font-size: 3rem;
    }
    /*styling for paragraph*/
    #text-div-award-ghibli-red p{
      color: #5A0E00;
      padding: 5%;
      font-size: 20px
    }

    /*img styling with border radius, height, width, margin, and displaying content flex*/
    #award-img-ghibli-2{
      border-radius: 1000px;
      width: 400px;
      height: 400px;
      margin: 10%;
      margin-right: 30%;
      display: flex;
    }
    /*sections text styling and formating, and spacing*/
    #text-div-award-ghibli-red-2{
      flex-direction: column;
      display: flex ;
      align-content: center;
      width: 80%;
      margin-left:10%;
      margin-top: 5%;
      margin-right: 20%;
      margin-bottom: 5%;
      text-align: left;
      max-width: 500px;
    }
    /*styling for heading*/
    #text-div-award-ghibli-red-2 h2{
      color: #BD351F;
      padding: 5%;
      font-size: 3rem;
    }
    /*styling for paragraph*/
    #text-div-award-ghibli-red-2 p{
      color: #5A0E00;
      padding: 5%;
      font-size: 20px
    }
    /*section sizing, spacing and colour styling*/
    #timeline-story{
      background-color: #E2EBE8;
      width: 100%;
      max-height: 900vh;
      padding-bottom: 50px;
    }
    /*timelines width*/
    #timeline{
      width: 100%;
    }
